.container {
  margin-top: 70px; /* Para evitar la navbar */
  margin-left: 41px; /* Para evitar el sidemenu */
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadir sombra para mejor visibilidad */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .formvisita {
  }

  .inputvisita{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 5px;
    justify-content: space-between;
  }

  label {
    font-size: medium;
    font-weight: bold;
  }

  input {
    margin-top: 10px;
    padding: 5px;
  }

  .agregarVisitas {
    background-color: #3886d4;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .agregarVisitas button:hover {
    background-color: #3a9bfb;
  }