.colonos-crud-container {
    margin-top: 70px; /* Para evitar la navbar */
    margin-left: 41px; /* Para evitar el sidemenu */
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadir sombra para mejor visibilidad */
    text-align: center; /* Centrar el contenido del contenedor */
}

.admin-title {
    text-align: center;
    color: #2980b9;
    margin-bottom: 20px;
}

.colono-form {
    display: flex;
    width: 95%;
    gap: 10px;
    margin-bottom: 30px;
    justify-content: center;
}

.colono-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn-submit, .btn-cancel {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit {
    background-color: #2980b9;
    color: white;
}

.btn-cancel {
    background-color: #e74c3c;
    color: white;
}

.tableaviso {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border: 1px solid #ddd;
}

.headtable {
    font-weight: bold;
    background-color: #2980b9;
    color: white;
    padding: 12px;
    border-bottom: 2px solid #ddd;
}

.registrosaviso td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.registrosaviso tr:hover {
    background-color: #f1f1f1;
}

.btn-edit, .btn-delete {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.btn-edit {
    background-color: #27ae60;
}

.btn-delete {
    background-color: #c0392b;
}
