.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    width: 100%;
    height: 100vh;
    background: #3586ff;
    overflow: hidden;
}

#residenease {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    color: rgba(0, 0, 0, 0.7);
    z-index: 0;
    white-space: nowrap;
    /* Evita que el texto se divida en varias líneas */
    overflow: hidden;
    /* Oculta el texto que aún no se ha "escrito" */
    border-right: 0.15em solid rgb(0, 0, 0);
    /* Cursor de escritura */
    animation: typing 4s steps(30, end), blink-caret 0.75s step-end infinite;
}


#loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    /* Ajusta la opacidad según sea necesario */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Ajusta la opacidad de la sombra */
    position: relative;
    animation: fadeIn 1s ease-in-out;
    backdrop-filter: blur(10px);
    /* Añade el efecto de desenfoque */
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* Añade un borde para resaltar el efecto de vidrio */
}


.text1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.iconlogin {
    margin-bottom: 5px;
    pointer-events: none;
    /* Para que el ícono no interfiera con la entrada de texto */
    background-color: darkgray;
    width: 25px;
    height: 34px;
    padding: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#inputlogin {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}


select {
    width: 75%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.bt-confirmar {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    /* Color del botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bt-confirmar:hover {
    background-color: hsl(211, 100%, 35%);
    /* Color del botón al pasar el mouse */
}

.bt-registrar {
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 25px;
    animation: fadeIn 1s ease-out;
}

.bt-registrar:hover {
    background-color: black;
    color: white;
}

section .air {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px
}

section .air.air1 {
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .air.air2 {
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

section .air.air3 {
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

section .air.air4 {
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

/* Animaciones */

@keyframes fadeIn {
    form {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes wave {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes wave {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes wave2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -1000px;
    }
}

@keyframes typing {
    from {
        width: 0;
        user-select: none;
        /* Deshabilita la selección de texto */
        -webkit-user-select: none;
        /* Deshabilita la selección de texto en navegadores WebKit */
        -moz-user-select: none;
        /* Deshabilita la selección de texto en navegadores Firefox */
        -ms-user-select: none;
        /* Deshabilita la selección de texto en navegadores Internet Explorer/Edge */
    }

    to {
        width: 100%;
        user-select: none;
        /* Deshabilita la selección de texto */
        -webkit-user-select: none;
        /* Deshabilita la selección de texto en navegadores WebKit */
        -moz-user-select: none;
        /* Deshabilita la selección de texto en navegadores Firefox */
        -ms-user-select: none;
        /* Deshabilita la selección de texto en navegadores Internet Explorer/Edge */
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
        user-select: none; /* Deshabilita la selección de texto */
        -webkit-user-select: none; /* Deshabilita la selección de texto en navegadores WebKit */
        -moz-user-select: none; /* Deshabilita la selección de texto en navegadores Firefox */
        -ms-user-select: none; /* Deshabilita la selección de texto en navegadores Internet Explorer/Edge */
    }

    50% {
        border-color: rgba(0, 0, 0, 0.7);
        user-select: none; /* Deshabilita la selección de texto */
        -webkit-user-select: none; /* Deshabilita la selección de texto en navegadores WebKit */
        -moz-user-select: none; /* Deshabilita la selección de texto en navegadores Firefox */
        -ms-user-select: none; /* Deshabilita la selección de texto en navegadores Internet Explorer/Edge */
    }
}