.sidemenu {
    position: fixed;
    top: 70px;
    left: 0;
    width: 40px;
    height: calc(100% - 70px);
    background-color: #1565c0;
    overflow-x: hidden;
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
}

.sidemenu:hover {
    width: 130px;
}

.iconcontainersidemenu {
    display: flex;
    align-items: center;
    border-bottom: solid 1px white;
    transition: background-color 0.3s;

}

.iconcontainersidemenu:hover {
    background-color: #1e88e5;
}

.iconsidemenu {
    padding: 5px;
    width: 35%;
    height: 40px;
    text-decoration: none;
    color: white;
    transition: transform 0.3s;
}

.iconsidemenu:hover {
    transform: scale(1.1);
}

.titlesidemenu {
    font-size: small;
    padding: 5px;
    height: 40px;
    display: none;
    text-decoration: none;
    color: white;
    transition: transform 0.3s;
}

.iconcontainersidemenu:hover .titlesidemenu {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
}

